.quote_headlind {
	padding: 71px;
	margin-top: 49px;
	margin-right: 443px;
	height: 218px;
	width: 440px;
	font-family: 'Roboto', sans-serif;
	font-size: 19pt;
	line-height: 1.7;
	float: right;
	background: url(../images/background.jpg);
}